<div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-page-header-title>Spot</nz-page-header-title>
        <nz-page-header-extra>
          <button nz-button nz-dropdown [nzDropdownMenu]="menu" >I want to feel</button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item><fa-icon [icon]="happyIcon"></fa-icon> Happy</li>
                    <li nz-menu-item><fa-icon [icon]="sadIcon"></fa-icon> Sad</li>
                    <li nz-menu-item><fa-icon [icon]="loveIcon"></fa-icon> Loved</li>
                    <li nz-menu-item><fa-icon [icon]="fearIcon"></fa-icon> Fear</li>
                    <li nz-menu-item><fa-icon [icon]="optimisticIcon"></fa-icon> Optimistic</li>
                    <li nz-menu-item><fa-icon [icon]="amazedIcon"></fa-icon> Amazed</li>


                </ul>
            </nz-dropdown-menu>
        </nz-page-header-extra>
    </nz-page-header>
</div>