<div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-page-header-title>Spot</nz-page-header-title>
        <nz-page-header-extra>
          <button nz-button nz-dropdown [nzDropdownMenu]="menu" >I want to feel</button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item><a [routerLink]="['/search','happy']"><fa-icon [icon]="happyIcon"></fa-icon> Happy</a></li>
                    <li nz-menu-item><a [routerLink]="['/search','sad']"><fa-icon [icon]="sadIcon"></fa-icon> Sad</a></li>
                    <li nz-menu-item><a [routerLink]="['/search','loved']"><fa-icon [icon]="loveIcon"></fa-icon> Loved</a></li>
                    <li nz-menu-item><a [routerLink]="['/search','fear']"><fa-icon [icon]="fearIcon"></fa-icon> Fear</a></li>
                    <li nz-menu-item><a [routerLink]="['/search','optimistic']"><fa-icon [icon]="optimisticIcon"></fa-icon> Optimistic</a></li>
                    <li nz-menu-item><a [routerLink]="['/search','amazed']"><fa-icon [icon]="amazedIcon"></fa-icon> Amazed</a></li>


                </ul>
            </nz-dropdown-menu>
        </nz-page-header-extra>
    </nz-page-header>
</div>