<div class="row">
  <div class="column"><app-moviecard></app-moviecard></div>
  <div class="column"><app-moviecard></app-moviecard></div>
  <div class="column"><app-moviecard></app-moviecard></div>
  <div class="column"><app-moviecard></app-moviecard></div>
</div>
<div class="row">
  <div class="column"><app-moviecard></app-moviecard></div>
  <div class="column"><app-moviecard></app-moviecard></div>
  <div class="column"><app-moviecard></app-moviecard></div>
  <div class="column"><app-moviecard></app-moviecard></div>
</div>