.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row{
      margin-top: 2%;
      margin-left: 2%;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }